/* Simple transition for hamburger animation */
    .line {
      transition: all 0.3s ease-in-out;
    }
    .open .line1 {
      transform: rotate(45deg) translate(5px, 5px);
    }
    .open .line2 {
      opacity: 0;
    }
    .open .line3 {
      transform: rotate(-45deg) translate(6px, -6px);
    }
